.findPageMain {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 70px;
    min-height: calc(100vh - 70px);

    font-size: 30px;
    text-align: center;

    border: 1px solid white
}

.findPageMain .comment {
    margin: 20px auto;
}