/* 개인정보 입력 메인화면 컨텐츠 설정 */
.privateInfoMain {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 70px;
    min-height: calc(100vh - 70px);

    font-size: 25px;

    border: 1px solid white
}

.signinForm button.basicButton {
    position: absolute;
    top: 10;
    right: -200px;

    height: 40px;
    padding: 0 20px;
}