/* 로그인 메인화면 컨텐츠 설정 */
.termsCheckMain {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 70px;
    min-height: calc(100vh - 70px);

    border: 1px solid white
}

/* 약관 입력창 설정 */
.termsDetail {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.termsDetail .inputInfo {
    max-width: 700px;
    min-height: 300px;
    font-size: 16px;

    margin: 0 auto;
}

/* 약관 동의 체크박스 설정 */
.agreeBox {
    width: 100%;
    max-width: 600px;
    margin: 5px auto 0 auto;

    text-align: right;
    font-size: 20px;
    color: white;
}